<!DOCTYPE html>
<html>
	<head>
		<title>CS326-Turkey</title>
	</head>
	<body>
		{{{body}}}
		<div>
			<a href ="/">Home</a>
			<a href ="/login">Login</a>
			<a href ="/profile">Profile</a>
			<a href ="/admin">Admin</a>
			<a href ="/forum">Forum</a>
		</div>
	</body>
</html>
