<head>
  <img src="/imgs/logo.png" alt="Logo">
  <div style = "padding:10px;">
    <h1>About Glean</h1>
    <h3><small>GLEAN, MAKE DONATIONS DAILY WITH YOUR CHANGE.</small><h3>
  </div>
</head>
<body>
  <div style = "background-color:lightgrey; color:black; padding:20px;" >
    <h3>Description of Apps</h3>
    <p>Team Turkey presents Glean, a change to charity program that will help you feel
      that little goodness, those warm fuzzies for putting your money to good use.</p>
    <p>You make a purchase, Glean rounds up the cost, subtracts the actual purchase from the cost,
      and that difference goes to a charity of your choice!</p>
    <p>Glean does this by integrating into your bank account and keeping track of the charges you make.
      It’s easy, safe, and secure.</p>
  </div>

<br><br>

  <div style = "background-color:lightgrey; color:black; padding:20px;">
    <h3>How Glean works</h3>
    <p>Every time you makes a purchase,
      the difference in change to the nearest dollar is donated to a charity of choice.</p>
    <p>Glean takes away the hassles of dealing with change when balancing checkbooks,
      and helps anyone with credit or debit cards easily give to charities in need.</p>
    <p>These microdonations add up overtime,
      and Glean will elegantly present donations accumulated to better help you see the impact you are making. </p>
  </div>

  <br><br>

    <div style = "background-color:lightgrey; color:black; padding:20px;">
      <h3>Why Glean?</h3>
      <p>Glean can be used whenever you make a credit/debit card transation at your favorite retailer!
        For personal use, you can use Glean when doing everyday purchases, from shopping for groceries
        to taking the family out for dinner. For work, companies can have their employees use Glean while
        using their corporate cards, and your company can show off its philanthropic side. Glean is a
        versitile application in corporating all aspects of your life for charitable giving!</p>
    </div>

</body>
