<head>
  <img src="/img/logo.png" alt="Logo">
  <div style = "padding:10px;">
    <h1>About Glean</h1>
    <h3><small>GLEAM, MAKE DONATION DAILY</small><h3>
  </div>
</head>
<body>
  <div style = "background-color:lightgrey; color:black; padding:20px;" >
    <h3>Description of Apps</h3>
    <p>Team Turkey presents Glean, a change to charity program that will help you feel
      that little goodness, those warm fuzzies for putting your money to good use.</p>
    <p>You make a purchase, Glean rounds up the cost, subtracts the actual purchase from the cost,
      and that difference goes to a charity of your choice!</p>
    <p>Glean does this by integrating into your bank account and keeping track of the charges you make.
      It’s easy, safe, and secure.</p>
  </div>

<br><br>

  <div style = "background-color:lightgrey; color:black; padding:20px;">
    <h3>How Gleen works</h3>
    <p>Every time you makes a purchase,
      the difference in change to the nearest dollar is donated to a charity of choice.</p>
    <p>Glean takes away the hassles of dealing with change when balancing checkbooks,
      and helps anyone with credit or debit cards easily give to charities in need.</p>
    <p>These microdonations add up overtime,
      and Glean will elegantly present donations accumulated to better help you see the impact you are making. </p>
  </div>
</body>
